*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: rgb(71, 243, 255);
}
.text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* .overplay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

} */
/* .citytext{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
} 
.citytext h1{
    color: white;
    font-size: 2em;
}
.citytext p{
    color: white;
    font-size: 2em;
}
@media only screen and (max-width:600px){
    .citytext h1{
        font-size: 1em;
    }
}
@media only screen and (max-width:600px){
    .citytext p{
        font-size: 1em; 
    }
}*/
#nav{
    font-size: 1.5em;
}
@media only screen and (max-width:600px){
    #nav{
        font-size: 1em;
    }
}
.bodypart{
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
}
#footer{
    background-color: pink;
    padding: 20px 0;
}
#footer ul{
    padding-left:0 ;
    list-style: none;
}
#footer ul a{
    color: #555;
    padding: 20px 0;

}
#footer .social{
    text-align: center;
}
#footer .social a{
    margin: 0 10px 0 0;
    color: #f0f0f0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transform: all 0.25 ease-out;
    vertical-align: bottom;
    background-color: #555;
}
/* copyright section */
#copyright{
    background-color:black;
    color:white;
    padding: 20px;
    font-size: 12px;
}
#copyright p{
    margin: 0;
}